<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Adicionar Nota</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='adicionar_nota.css') }}">
    </head>
    
<body>
    <h1>Adicionar Nota</h1>
    <form method="POST">
        <label for="subject">Disciplina:</label>
        <input type="text" name="subject" required>
        <label for="grade">Nota:</label>
        <input type="number" step="0.1" name="grade" required>
        <button type="submit">Adicionar</button>
    </form>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>